.img-container {
  vertical-align: top;
  display: inline-block;
  width: 50%;
}

.tags-container {
  vertical-align: top;
  display: inline-flex;
  width: 20%;
  flex-direction: column;
  margin-left: 30px;
}

.tag {
  background-color: white;
  width: 10%;
  min-width: 100px;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 0;
  margin-bottom: 10px;
}

#cat {
  max-width: 100%;
}

@media (max-width: 600px) {
  .img-container {
    width: 75%;
  }
  .tags-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* width: fit-content; */
    width: 75%;
    padding: 5%;
    margin-left: 0;
  }
  .tag {
    margin: 10px;
  }
}