/* 
colors
coral - #f79f79
cream - #FEFFEA
grey - #7A7D7D
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/cat_background.jpeg");
}

button {
  display: block;
}

.navbar {
  display: flex;
  /* height: 25vh; */
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5%;
  background-color: white;
  border-bottom: 3px solid black;
}

.navbar a {
  color: black; 
  margin: 0 5%;
}

.content-wrapper {
  background-color: #FEFFEA;
  width: 75%;
  margin: 0 auto;
}
