* {
  margin: 0;
  padding: 0;
}

html, body {
  background-image: url("./assets/cat_background.jpeg");
  height: 100%;
}

button {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  border-bottom: 3px solid black;
  font-size: 1.5em;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 2;
}

.sticky + .content-wrapper {
  padding-top: 7%;
}

.sidebar {
  position: fixed;
  display: block;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  z-index: 3;
  transition: 0.5s;
}

#hidden {
  width: 0;
}

#visible {
  width: 35%;
}

#sidebar-btn {
  font-size: 1.5em;
  margin: 0 auto;
  color: black;
  border: none;
  background-color: white;
  display: none;
  z-index: 1;
}

.sidebar a {
  display: block;
  color: white;
  /* text-decoration: none; */
  padding: 10%;
  transition: 0.5s;
}

#sidebar-btn:hover {
  background-color: #E7E9EB;
}

.navbar a {
  color: black;
  padding: 3%;
}

/* .sticky a {
  padding: 2%;
} */


.content-wrapper {
  background-color: #FEFFEA;
  display: block;
  width: 75%;
  height: fit-content;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
}

.content-wrapper > p {
  text-align: left;
  font-size: 1.5em;
  padding-left: 5%;
  line-height: 3em;
}

@media (max-width: 700px) {
  .content-wrapper {
    width: 100%;
  }

  .navbar {
    justify-content: start;
  }

  .navbar > a {
    display: none;
  }

  #sidebar-btn {
    display: block;
  }

  .sticky + .content-wrapper {
    padding-top: 19%;
  }
}

@media (max-width: 700px) and (max-height: 650px) {
  .content-wrapper {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .tag-wrapper {
    height: fit-content;
  }
}

.content-wrapper h1 {
  line-height: 4em;
  font-weight: 400;
}

#random-cat {
  max-width: 50%;
  max-height: 70%;
}

/* #random-cat-button {
  margin: 2% auto;
  background-color: white;
  width: 10%;
  height: 5%;
  border-radius: 10px;
} */
