.content-wrapper {
  height: fit-content;
  min-height: 100%;
}

.filler {
  display: inline-block;
  width: 75%;
}

@media (max-width: 850px) {
  .filler {
    width: 0;
  }
}

.layout-dropdown {
  position: relative;
  display:inline-block;
  padding-top: 5%;
}

.dropbtn {
  padding: 10px;
  background-color: white;
}

.dropdown-content {
  display: none;
  width: 100%;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.layout-dropdown:hover .dropdown-content {
  display: block;
}

.layout-dropdown:hover .dropbtn {
  background-color: #C8E6D1;
}


.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.selected {
  pointer-events: none;
}

.selected, .dropdown-content a:hover {
  background-color: #E7E9EB;
}

.images-section {
  display: grid;
  height: 100%;
  padding: 5%;
  /* grid-template-rows: 100%; */
  column-gap: 10%;
  row-gap: 20px;
  justify-items: center;
  align-items: center;
}

.grid-one {
  display: flex;
  flex-direction: column;
}

.grid-two {
  grid-template-columns: 1fr 1fr;
}

.grid-three {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-four {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.images-section img {
  max-width: 100%;
}

.layout-option {
  display: inline-block;
  background-color: #FEFFEA;
  color: black;
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0 0.2em;
  text-decoration: none;
  /* border: 1px solid black; */
  border-radius: 40%;
}

.layout-option:hover {
  background-color: #F5F5DC;
}

#columns {
  font-size: 1.5em;
  padding: 1em;
}
